@font-face {
    font-family: 'Exo 2 Condensed';
    src: local('Exo 2 Thin Condensed'), local('Exo2-ThinCondensed'), url('../../fonts/exo2thincondensed.woff2') format('woff2'), url('../../fonts/exo2thincondensed.woff') format('woff'), url('../../fonts/exo2thincondensed.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Exo 2 Condensed';
    src: local('Exo 2 Medium Condensed'), local('Exo2-MediumCondensed'), url('../../fonts/exo2mediumcondensed.woff2') format('woff2'), url('../../fonts/exo2mediumcondensed.woff') format('woff'), url('../../fonts/exo2mediumcondensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Exo 2 Condensed';
    src: local('Exo 2 Semi Bold Condensed'), local('Exo2-SemiBoldCondensed'), url('../../fonts/exo2semiboldcondensed.woff2') format('woff2'), url('../../fonts/exo2semiboldcondensed.woff') format('woff'), url('../../fonts/exo2semiboldcondensed.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}